*{
font-family: 'Montserrat';
padding: 0;
margin: 0;
box-sizing: border-box;
}

.hero{
 height: 100vh;
 width: 100%;
 background-image: url(Images/AF_Screenshot_03.png);
 background-size: cover;
background-position: center;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 45px;
padding-left: 8%;
padding-right: 8%;
}

.logo{
color: white;
font-size: 35px;
letter-spacing: 1px;
cursor: pointer;
}

span{
color: #f9004d;
}

nav ul li{
list-style-type: none;
display: inline-block;
padding: 10px 25px;
}

nav ul li a{
color: white;
text-decoration: none;
font-weight: bold;
text-transform: capitalize;
}

nav ul li a:hover{
color: #000000;
transition: .4s;
}

.content{
position: absolute;
top: 50%;
left: 8%;
transform: translateY(-50%);
}

h3{
color: black;
margin: 15px 0px 15px;
font-size: 5vh;
}

h4{
color: white;
font-size: 3vh;
margin-bottom: 50px;
}

h2{
color: white;
font-size: 3vh;
}

.about{
width: 100%;
padding: 100px 0px;
background-color: #191919;
}

.about img{
height: auto;
width: 430px;
}

.about-text{
width: 550px;
}

.main{
width: 1130px;
max-width: 95%;
margin: 0 auto;
align-items: center;
display: flex;
justify-content: space-around;
}

.about-text h2{
color: white;
font-size: 200%;
margin-bottom: 20px;
}

.about-text h5{
color: white;
letter-spacing: 2px;
font-size: 100%;
margin-bottom: 25px;
}

.about-text p{
color: rgba(255, 255, 255, 0.8);
line-height: 28px;
font-size: 100%;
margin-bottom: 5%;
}

button{
background-color: #f9004d;
color: white;
border: 2px solid transparent;
font-weight: bold;
padding: 13px 30px;
border-radius: 10%;
transition: .4s;
text-decoration: none;
}

button:hover{
background-color: transparent;
border: 2px solid #f0f0f0;
cursor: pointer;
}

button a {
text-decoration: none;
color: white;
}

i.fa{
font-family: 'FontAwesome'; 
}

.information{
background: #101010;
width: 100%;
padding: 3% 0px;
}

.title h2{
color: white;
text-align: center;
font-size: 250%;
}

.box{
display: flex;
justify-content: center;
align-items: center;
}

.card{
height: 365px;
width: 335px;
padding: 20px 35px;
background: #191919;
border-radius: 20px;
margin: 15px;
position: relative;
overflow: hidden;
text-align: center;
}

.card i{
font-size: 50px;
display: block;
text-align: center;
margin: 25px 0px;
color: white;
}

.information h3{
margin-bottom: 15px;
}

.info p{
color: white;
font-size: 16px;
line-height: 150%;
margin-bottom: 25px;
}

.more-info{
width: 100%;
height: 290px;
background: #191919;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
}


.more-info p{
color: white;
width: 75%;
font-size: 100%;
font-weight: bold;
margin-bottom: 25px;
}

.more-info a{
    text-decoration: none;
    }

footer{
position: relative;
width: 100%;
height: 400px;
background-color: #101010;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

footer h3{
color: white;
margin-bottom: 20px;
font-weight: bold;
}

footer p{
color: white;
text-align: center;
font-size: 25px;
}

.social-icons{
display: flex;
align-items: center;
justify-content: center;
margin: 22px 10px;
font-size: 20px;
}

.social-icons a{
margin:0 8px;
}
.social-icons a:hover{
transform: scale(1.8);
transition: 0.2s;
}

/* Media query for screens around 440px wide */
@media only screen and (max-width: 440px) {
    nav {
        flex-direction: column;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    nav ul {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .logo {
        font-size: 28px;
        padding-bottom: 10px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        padding: 10px 0;
    }

    .btn {
        margin-top: 20px;
    }

    .content {
        left: 5%;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h2 {
        font-size: 18px;
    }
}
