* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background-image: Url(Images/IQ_Background_Notes.png);
background-size: cover;
}

/*Header*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    z-index: 100;
    }
    
    .flex{
    display: flex;
    align-items: center;
    }
    
    .contain{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    }
    
    .logo img {
        height: auto;  /* maintain aspect ratio */
        width: 75px;  /* or any size that fits well in your header */
    }
    
    
    .navbar{
    justify-content: space-between;
    }
    
    .nav-links{
        gap: 20px;
       list-style: none;
    }
    
    .navbar a{
    padding: 20px 0;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s;
    }
    
    .navbar a:hover{
    color: #ddd;
    }

/*Now the actual main code*/

/* This is a neat little trick. Essentially, what's being done, is since all 3 of the divs share the "contact" as a common class between them, and since the contact class is within the box div, I can essentially use grid-area to specify the areas within the box where these 3 seperate divs will be. Basically dividing up the box and allocating each div in it's own little locked up location */

.form{
    grid-area: form;
    }

    
.info{
grid-area: info;
        }

 .map{
grid-area: map;
    }
.contact{
padding: 40px;
background: #fff;
}
            
.box{
position: relative;
display: grid;
margin-top: 200px;
grid-template-columns: 2fr 1fr;
grid-template-rows: 5fr 4fr;
grid-template-areas:
"form info"
"form map";
grid-gap: 20px;
}

.contact h3{
font-weight: bold;
font-size: 1.4em;
margin-bottom: 10px;
}

/* Now for the CSS relating to the Information lines for sending a message, or simply put, the info box */

.formBox{
position: relative;
width: 100%;
}

.formBox .row50{
display: flex;
gap: 20px;
}

.inputBox{
display: flex;
flex-direction: column; /* I don't even know how this fixed the design but it did */
margin-bottom: 10px;
width: 50%;
}

.formBox .row100 .inputBox{
width: 100%;
}

.inputBox span{
color: #000000;
margin-top: 10px;
margin-bottom: 5px;
font-weight: bold;
}

.inputBox input{
padding: 10px;
font-size: 1.1en;
outline: none;
border: 1px solid #000000;
}

.inputBox textarea{
padding: 15px;
font-size: 1.3en;
outline: none;
border: 1px solid #000000;
resize: none;  /* Remove this and you'll notice the box, as textareas conventionally are, is adjustable in size by the user. Needed to eliminate that */
min-height: 180px;
}

.inputBox input[type="submit"]
{
max-width: 120px;
font-weight: bold;
border: none;
cursor: pointer;
padding: 14px 15px;
}

.inputBox ::placeholder{
color: #716b6b;
}

/* Information section*/

.info h3{
font-weight: bold;
}

.info .infoBox div{
display: flex;
align-items: center;
margin-bottom: 10px;
}

.info .infoBox div span{
min-width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 15px;
font-size: 1.3em;
}

.info .infoBox div p{
    font-size: 1.1em;
}

.info .infoBox div a{
    text-decoration: none;
    font-size: 1.05em;
    }

.map{
padding: 0;
}

.map iframe{
width: 100%;
height: 100%;
}

#menu-toggler, #hamburger-btn{
    display: none;
    }

/* Media Query for Screens 450px and below */
@media (max-width: 600px) {
.contactUs{
padding: 20px;
}

.box{
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-template-areas:
"form"
"info"
"map";
}

.formBox .row50{
display: flex;
gap: 0;
flex-direction: column;
}
.inputBox{
display: flex;
flex-direction: column;
margin-bottom: 10px;
width: 100%;
}

.contact{
padding: 30px;
}

.map{
    min-height: 300px;
    padding: 30px;
    }

    
        .navbar .nav-links{
            left: 0;
            position: fixed;
            top: 65px;
            height: 100%;
            display: block;
            background: #333;
            width: 50vh;
            padding-left: 20px;
            padding-top: 30px;
            margin-top: 30px;
            left: -100%;
            transition: all 0.4s ease;
            }
            
            #menu-toggler:checked ~ .nav-links{
            left: 0;
            }
            
            .nav-links li{
            font-size: 18px;
            }
            
            #hamburger-btn{
            display: block;
            color: #fff;
            font-size: 22px;
            cursor: pointer;
            }
        
    
        .contain{
        width: 50%;
        }
    }
